html{
  font-size: 50px;
}

#mobileContainer{
  flex: 1;
  background: #f6f6f6;
}

#mobileContainer header{
  border-bottom: 1px solid #2db7f5;
}

#mobileContainer header img{
  height: 50px;
  padding-left: 10px;
}

#mobileContainer header span{
  font-size: 35px;
  vertical-align: top;
  padding-left: 5px;
  color: #2db7f5;
}
#mobileContainer>header>div{
  float: right;
  display: inline;
}

#mainContainer #mobileContainer i.anticon.anticon-setting{
  float:right;
}

#mobileContainer i {
  font-size: 0.5rem;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  color: #2db7f5;
  display: inline-block;
}

#mobileContainer .anticon.anticon-logout{

}

section.m-article.list-item.special-section.clearfix{
  margin: 5px 12px;
  border-bottom: 1px solid rgba(121, 121, 121, 0.15);
}

.m-article-info{
  color: #000000;
}

.m-article-img{
  float: left;
}

.m-article-img img{
  width: 120px;
  height: 90px;
}

.m-article-info{
  float: right;
  width: 64%;
}

.m-article-channel{
  background: rgba(56, 121, 217, 0.3);
  color: rgba(56, 121, 217, 1);
  margin-right: 8px;
  padding: 3px;
  font-size: 10px;
  border-radius: 3px;
  /*box-shadow: 0px 1px 4px rgba(255, 240, 240, 0.3), 0 0 10px rgba(255, 240, 240, 0.3) inset;*/
}

.m-article-title{
  height: 70px;
}
